---
layout:     default
title:      Emilis Dambauskas @ GitHub
subtitle:   Home
---
{% assign first-post = site.posts.first %}
<article class="content first-post">
    <h2><a href="{{ first-post.url }}">
        <time style="display:inline-block;float:right;font-size:85%;">{{ first-post.date | date: "%Y-%m-%d" }}</time>
        {{ first-post.title }}</a></h2>
    {{ first-post.content }}
</article>

{% assign tpost = first-post %}
{% include post-meta.html %}

<div class="break">&nbsp;</div>

<div class="content">
    <h2>Previous posts:</h2>
    <ul class="related-posts full-width">
        {% for post in site.posts limit:11 %}
        {% if forloop.index0 != 0 %}
        <li><a href='{{ post.url }}'>
            <time>{{ post.date | date: "%Y-%m-%d" }}</time>
            <span class="title">{{ post.title }}</span>
        </a></li>
        {% endif %}
{% endfor %}
    </ul>
</div>

<a href="/archive.html" class="break"><strong>More at the archive <i class="fa fa-chevron-right"></i></strong></a>

