<a class="pure-menu-heading" href="/">
    Emilis @ GitHub
</a>
<ul class="main-menu">
    <li><a href="/">Home</a></li>
    <li><a href="https://github.com/emilis">Code <i class="fa fa-github"></i></a></li>
    <li><a href="/projects.html">Projects</a></li>
    <!-- <li><a href="/about/">About</a></li> -->
    <!-- <li><a href="/archive/">Archive</a></li> -->
    <li><a href="http://feeds.feedburner.com/emilisgithubcom">RSS <i class="fa fa-rss"></i></a></li>
</ul>
<a class="pure-menu-heading">Lietuviškai:</a>
<ul>
    <li><a href="http://emilis.info/">Emilis.info</a></li>
</ul>
