
body {
    background-color: #333;
    background-image: url("background.jpg");
    background-position: -150px 20px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0 0 40px;
}

/* tag styles */

a { color: #204A87; }
a:visited { color: #0A3050; }
a:hover { text-decoration: none; }

pre {
    line-height: 1.2;
    border-radius: 2px;
    -moz-border-radius: 2px;
}


code {
    font-family: DejaVu Sans Mono, Consolas, Andale Mono, monospace;
    font-size: 13px;
}

table {
    border-collapse: collapse;
}

    th, td {
        border: 1px solid #ccc;
        padding: 10px;
        vertical-align: top;
    }

/* class styles */

div.project {
    border: 1px dotted #ccc;
    padding: 0px 15px;
    margin: 20px 0;
    border-radius: 5px;
}

    div.project > h4 {
        margin-top: 15px;
    }

    div.project img {
        float: right;
        margin: 37px 0 5px 10px;
    }

.post p {
    line-height: 22px;
}

/* layout */

#header {
    padding: 20px 90px 0;
}

    #logo {
        display: block;
        font-size: 16pt;
        color: white;
        text-decoration: none;
        text-shadow: 0px 0px 30px #bbb;
    }

    #menu {
        list-style: none;
        display: block;
        height: 25px;
        margin: 15px 0 0;
        padding: 0;
    }

        #menu > li {
            float: left;
            margin-right: 10px;
            padding: 0px;
            background-color: white;
            border-radius: 2px;
            -moz-border-radius: 2px;
        }

            #menu > li > a {
                display: block;
                padding: 5px 21px;
                font-weight: bold;
                color: #666;
                text-decoration: none;
                text-shadow: 1px 1px 1px #eee;
            }

            #menu > li > a:hover {
                text-decoration: underline;
            }

#body {
    background-color: #feffd0;
    border: 1px solid #c4a000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 10px 10px;
    margin: 0 40px;
    width: 890px;
}

    #content {
        width: 540px;
        float: left;
        clear: both;
        padding: 15px 50px 40px 40px;
        background-color: white;
        border: 1px solid #f7f8f5;
        border-radius: 2px;
        -moz-border-radius: 2px;
    }

        #content h1 {
            color: #4E9A06;
            text-shadow: 1px 1px 1px #eee;
        }

            #content h1 > a {
                text-decoration: none;
                color: #4E9A06;
            }

            #content h1 > a:hover {
                text-decoration: underline;
            }

        #content h2,
        #content h3,
        #content h4,
        #content h5 {
            color: #2a5703;
        }

        #content span.date {
            border: 1px solid #ccc;
            color: #666;
            display: block;
            float: right;
            font-weight: bold;
            margin: 5px -10px 5px 5px;
            padding: 5px;
        }

        #content div.project {
            clear: both;
        }

            #content div.project > img {
                float: right;
                padding: 5px;
                border: 1px solid #ccc;
                margin: 0 0 5px 5px;
            }

    #side {
        margin-left: 640px;
        padding: 30px 20px;
        color: #666;
    }

        #side > h3 {
        }

        #side img {
            border: 1px solid #ccc;
            padding: 5px;
            background-color: white;
        }

    #footer {
        clear: both;
        padding: 10px;
        color: #666;
        text-align: center;
    }

