
body {
    background-color: #333;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0 0 40px;
}

/* tag styles */

a { color: #0a3050; }
a:visited { color: #00202a; }
a:hover { text-decoration: none; }

pre {
    border-radius: 2px;
    -moz-border-radius: 2px;
}


code {
    font-size: 13px;
}


/* layout */

#header {
    padding: 20px 70px 0;
}

    #logo {
        display: block;
        font-size: 16pt;
        color: white;
        text-decoration: none;
        text-shadow: 0px 0px 30px #bbb;
    }

    #menu {
        list-style: none;
        display: block;
        height: 25px;
        margin: 15px 0 0;
        padding: 0;
    }

        #menu > li {
            float: left;
            margin-right: 10px;
            padding: 0px;
            background-color: white;
            border-radius: 2px;
            -moz-border-radius: 2px;
        }

            #menu > li > a {
                display: block;
                padding: 5px 48px;
                font-weight: bold;
                color: #666;
                text-decoration: none;
                text-shadow: 1px 1px 1px #eee;
            }

            #menu > li > a:hover {
                text-decoration: underline;
            }

#body {
    background-color: #feffd0;
    border: 1px solid #c4a000;
    border-radius: 2px;
    -moz-border-radius: 2px;
    padding: 0 10px 10px;
    margin: 0 40px;
    width: 890px;
}

    #content {
        width: 540px;
        float: left;
        clear: both;
        padding: 15px 50px 40px 40px;
        background-color: white;
        border: 1px solid #f7f8f5;
        border-radius: 2px;
        -moz-border-radius: 2px;
    }

        #content h1 {
            color: #4E9A06;
            text-shadow: 1px 1px 1px #eee;
        }

            #content h1 > a {
                text-decoration: none;
                color: #4E9A06;
            }

            #content h1 > a:hover {
                text-decoration: underline;
            }

        #content h2,
        #content h3,
        #content h4,
        #content h5 {
            color: #2a5703;
            text-shadow: 1px 1px 1px #eee;
        }

    #side {
        margin-left: 640px;
        padding: 20px;
        color: #666;
    }

        #side > h3 {
            text-shadow: 1px 1px 1px #eee;
        }

    #footer {
        clear: both;
        padding: 10px;
        color: #666;
        text-align: center;
    }

