<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Emilis@GitHub: {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="http://drnicwilliams.com/external/CodeHighlighter/styles.css"></link>
        <script src="http://drnicwilliams.com/external/CodeHighlighter/clean_tumblr_pre.js"></script>
        <link rel="stylesheet" type="text/css" href="/files/style.css">
    </head>
    <body>
        <div id="header">
            <a id="logo" href="/">Emilis Dambauskas @ GitHub</a>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <!--<li><a href="/blog">Blog</a></li>-->
                <li><a href="http://github.com/emilis/">Code</a></li>
            </ul>
        </div>        
        <div id="body">
            <div id="content">
                {{ content }}
            </div>
            <div id="side">
                <h3>About me</h3>
                <p><img src="http://gravatar.com/avatar/14d8b7ab20d6534c61003d0eefa7c7e1.jpg" title="Emilis Dambauskas" align="right" style="margin-left: 5px;">
                I am a web developer and a civic activist living in Vilnius, Lithuania.</p>
                <p>&nbsp;</p>

                <h3>Current projects:</h3>
                <p><a href="http://kaveikiavaldzia.lt/">KąVeikiaValdžia.lt</a> / <a href="http://github.com/emilis/policyfeed">PolicyFeed</a> &ndash; a government news aggregator and filter.</p>
                <p><a href="http://github.com/emilis/autofocus">Autofocus</a> &ndash; task list manager based on autofocus technique.</p>
                <p><a href="http://objectfs.org/">ObjectFS</a> &ndash; data access API for JavaScript and other scripting languages.</p>


            </div>
            <div id="footer">
                <p>(cc) BY-SA 2011 Emilis Dambauskas, <a href="mailto:emilis.d@gmail.com">emilis.d@gmail.com</a>.</p>
                <p><em>
                    Powered by <a href="http://github.com/">GitHub</a> <a href="http://pages.github.com/">Pages</a>,
                    <a href="http://www.flickr.com/photos/zooboing/4608282327/in/pool-31664906@N00/">Background image</a> by <a href="http://zooboingreview.blogspot.com/">Patrick Hoesly</a>
                </em></p>
            </div>
        </div>
    </body>
</html>
