<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Emilis@GitHub: {{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="http://drnicwilliams.com/external/CodeHighlighter/styles.css"></link>
        <script src="http://drnicwilliams.com/external/CodeHighlighter/clean_tumblr_pre.js"></script>
        <link rel="stylesheet" type="text/css" href="/files/style.css">
        <link rel="stylesheet" type="text/css" href="/files/humble-embed.css">
        <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/emilisgithubcom">
    </head>
    <body>
        <div id="header">
            <a id="logo" href="/">Emilis Dambauskas @ GitHub</a>
            <ul id="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="http://github.com/emilis/">Code</a></li>
            </ul>
        </div>        
        <div id="body">
            <div id="content">
                {{ content }}
            </div>
            <div id="side">
                <h3>About me</h3>
                <p><small><img src="http://gravatar.com/avatar/14d8b7ab20d6534c61003d0eefa7c7e1.jpg" title="Emilis Dambauskas" align="right" style="margin-left: 5px;">
                    I am a web developer and a civic activist living in Vilnius, Lithuania.</small></p>
                <p><a href="http://emilis.info/"><img src="/files/lt.png" alt="lietuviškai" align="absmiddle" style="border: 0 none; margin: 0; padding: 0 5px 0 0; text-decoration: none; background-color: #FEFFD0;">Tinklaraštis lietuvių kalba</a>.</p>

<!-- START OF MINUTEBOX WIDGET CODE -->

      <script type="text/javascript" charset="utf-8"><!--
      minutebox_uid = "159959";
      minutebox_width = 210;
      minutebox_height = 162;
      //-->
      </script>
      <script src="https://www.minutebox.com/javascripts/widget_v1.js" type="text/javascript" charset="utf-8"></script>

      <!-- END OF MINUTEBOX WIDGET CODE -->

                <p>&nbsp;</p>

                <h3>Current projects:</h3>
                <p><a href="http://objectfs.org/">ObjectFS</a> &ndash; <small>data access API for JavaScript and other scripting languages.</small></p>
                <p><a href="http://kaveikiavaldzia.lt/">KąVeikiaValdžia.lt</a> / <a href="http://github.com/emilis/policyfeed">PolicyFeed</a> &ndash; <small>a government news aggregator and filter.</small></p>
                <p><a href="/projects/humble.html">Humble</a> &ndash; <small>a programming language expressed by bullet-lists and tables.</small></p>
                <p>&nbsp;</p>

                <h3>Please donate:</h3>
                <p><small>If I could, I would design and develop free software every day of my life. Please help me to be able to do this:</small></p>
                <p><a href='http://www.pledgie.com/campaigns/16042'><img alt='Click here to lend your support to: Help me spend more time developing free software and make a donation at www.pledgie.com !' src='http://www.pledgie.com/campaigns/16042.png?skin_name=chrome' border='0' /></a></p>
                <p>&nbsp;</p>

                <h3>Meta</h3>
                <p><a href="http://feeds.feedburner.com/emilisgithubcom">RSS</a></p>
                <p>&nbsp;</p>

                <h3>Ads</h3>
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-9351367079565425";
                    /* emilis-github-right */
                    google_ad_slot = "5146985957";
                    google_ad_width = 160;
                    google_ad_height = 600;
                    //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <div id="footer">
                <p>(cc) BY-SA 2011 Emilis Dambauskas, <a href="mailto:emilis.d@gmail.com">emilis.d@gmail.com</a>.</p>
                <p><em>
                    Powered by <a href="http://github.com/">GitHub</a> <a href="http://pages.github.com/">Pages</a>,
                    <a href="http://www.flickr.com/photos/zooboing/4608282327/in/pool-31664906@N00/">Background image</a> by <a href="http://zooboingreview.blogspot.com/">Patrick Hoesly</a>
                </em></p>
            </div>
        </div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22621133-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    </body>
</html>
