---
layout: default
---
<article class="content">
    {{ content }}
</article>

{% assign tpost = page %}
{% include post-meta.html %}

{% include posts-nav.html %}

{% if page.comments %}
<section id="comments" class="content">
    <h2>Comments</h2>
    {% for c in page.comments %}
    <div id="comment-{{ c.id }}" class="comment">
        <p>{% if c.url %}<a href="{{ c.url }}">{% endif %}
            <span class="frame">
                {% if c.gravatar %}<img src="/static/img/gravatars/{{ c.gravatar }}.png">{% else %}<i class="fa fa-user"></i>{% endif %}
            </span><strong>{{ c.name }}</strong>{% if c.url %}</a>{% endif %}
            <time class="fa fa-clock-o">{{ c.date }}</time></p>
        <blockquote>{{ c.text | newline_to_br }}</blockquote>
    </div>
    {% endfor %}
</section>
{% include posts-nav.html %}
{% endif %}
